<%= turbo_frame_tag "message_form" do %>
  <%= form_with model: [@chat_room, Message.new], local: false, html: { class: 'chat-room-form' } do |form| %>
    <div class="input">
      <!-- メッセージ入力部分 -->
      <div class="form-field">
        <%= form.text_area :content, placeholder: "", class: "input-text js-input", id: "message_content" %> 
        <label class="label" for="message_content">Message</label> <!-- Messageラベル -->
      </div>

      <!-- 画像選択用のフィールド -->
      <div class="form-field">
        <label class="form-image">
          <span class="image-file">画像を選択</span>
          <%= form.file_field :image, class: 'hidden', id: 'image-upload' %> <!-- 画像アップロードフィールド -->
        </label>
      </div>

      <!-- 送信ボタン -->
      <div class="form-field">
        <%= form.submit "送信", class: "submit-btn" %> <!-- 送信ボタン -->
      </div>
    </div>
  <% end %>
<% end %>
