<div class="main-header">
  <div class="main-header_contents">
    <div class="main-header_text"><%= @chat_room.name %> のチャット</div>
  </div>
</div>

<div class="main-chat">
  <% if @messages.present? %>
    <% @messages.each do |message| %>
      <div class="upper-chat">
        <div class="upper-information">
          <%= message.user.username %>
        </div>
        <div class="upper-date">
          <%= message.created_at.strftime("%Y/%m/%d %H:%M") %>
        </div>
      </div>
      <div class="under-chat">
        <div class="under-text">
          <%= message.content %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>メッセージがまだありません。</p>
  <% end %>
</div>

<%= render "messages/main_chat_form" %>
