<%= turbo_stream_from 'chat_rooms' %> <!-- リアルタイムでチャットルームの更新をリッスン -->

<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>  <!-- サイドバーをレンダリング -->
  </div>

  <div class="main-content">
    <%= turbo_frame_tag "chat-room-content" do %>
      <!-- チャットルームに関連するコンテンツ（メッセージ）をここに表示 -->
      <%= render "main_chat" %>  <!-- メインチャット部分をレンダリング -->
    <% end %>
  </div>
</div>

<!-- サイドバー内のルームリストの部分 -->
<%= turbo_frame_tag "chat_rooms_sidebar" do %>
  <div id="chat_rooms">
    <%= render partial: 'chat_rooms/room', collection: @chat_rooms, as: :chat_room %>  <!-- チャットルームのリストを表示 -->
  </div>
<% end %>
