<div class="wrapper">
  <!-- サイドバー部分 -->
  <div class="side-bar">
    <%= turbo_frame_tag "chat-rooms-sidebar" do %>
      <div class="side-header">
        <div class="side-header_contents">
          <div class="user-name"><%= current_user.username %></div>
          <div class="new-chat">
            <%= link_to 'チャットを作成する', new_chat_room_path, data: { turbo: false } %>
          </div>
        </div>
      </div>

      <!-- チャットルームのリスト部分 -->
      <div class="rooms">
        <% current_user.chat_rooms.each do |chat_room| %>
          <div class="room" id="chat-room-<%= chat_room.id %>">
            <%= link_to chat_room.name, chat_room_path(chat_room), data: { turbo_frame: "chat-room-content" }, class: 'chat-room-link' %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <!-- メインコンテンツ部分 -->
  <div class="main-content">
    <%= turbo_frame_tag "chat-room-content" do %>
      <!-- チャットルームに関連するコンテンツ（メッセージ）をここに表示 -->
      <%= render 'main_chat', chat_room: @chat_room, messages: @messages %>
    <% end %>
  </div>
</div>
