<h1>チャットルームを作成</h1>

<%= form_with model: @chat_room, data: { turbo_action: "replace", turbo_frame: "chat_rooms_sidebar", controller: "disable-submit-button" }, remote: true do |form| %>
  <% if @chat_room.errors.any? %>
    <div class="error-messages">
      <h2>エラーがあります:</h2>
      <ul>
        <% @chat_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :name, "ルーム名" %>
    <%= form.text_field :name, class: 'input-text', required: true, data: { target: "disable-submit-button.submitButton" } %>
  </div>

  <div class="form-field">
    <%= form.submit '作成', class: 'submit-btn' %>
  </div>
<% end %>

<%= link_to '戻る', chat_rooms_path, class: 'back-link' %>
