<!-- app/views/chat_rooms/show.html.erb -->
<%= turbo_frame_tag "chat-room-content" do %>
  <div class="main-header" data-controller="chat-room">
    <div class="main-header_contents">
      <div class="main-header_text">
        <%= @chat_room.name %> のチャット
      </div>

      <div class="auth-links">
        <% if user_signed_in? %>
          <div class="logout">
            <%= link_to 'ログアウト', destroy_user_session_path, 
            data: { turbo_method: :delete }, 
            class: "nav__btn" %>
          </div>
        <% else %>
          <div class="login">
            <%= link_to 'ログイン', new_user_session_path, class: "nav__btn" %>
          </div>
          <div class="register">
            <%= link_to '新規登録', new_user_registration_path, data: { turbo: false }, class: "nav__btn" %>
  <!-- 新規登録ボタン追加 -->
          </div>
        <% end %>
      </div>

      <% if @chat_room.created_by_user_id == current_user.id %>
        <!-- チャットルームの詳細ページにのみ表示される削除ボタン -->
        <div class="delete-chat-room">
          <%= link_to '削除', chat_room_path(@chat_room), 
                      data: { turbo_method: :delete, turbo_confirm: '本当にこのチャットルームを削除しますか？' }, 
                      class: 'delete-button' %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- メッセージの表示部分 -->
  <div class="main-chat">
    <%= turbo_frame_tag "messages" do %>
      <% if @chat_room.messages.present? %>
        <% @chat_room.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% else %>
        <p>まだメッセージがありません。</p>
      <% end %>
    <% end %>
  </div>

  <!-- メッセージ入力フォーム -->
  <%= render "messages/main_chat_form", chat_room: @chat_room %>
<% end %> <!-- turbo_frame_tag "chat-room-content" -->

