<!-- app/views/chat_rooms/show.html.erb -->
<%= turbo_frame_tag "chat-room-content" do %>
  <div class="main-header" data-controller="chat-room">
    <div class="main-header_contents">
      <div class="main-header_text">
        <%= @chat_room.name %> のチャット
      </div>

      <% if @chat_room.created_by_user_id == current_user.id %>
        <div class="delete-chat-room">
          <%= link_to '削除', chat_room_path(@chat_room), 
                      data: { turbo_method: :delete, turbo_confirm: '本当にこのチャットルームを削除しますか？' }, 
                      class: 'delete-button' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="main-chat">
    <%= turbo_frame_tag "messages" do %>
      <% if @chat_room.messages.present? %>
        <% @chat_room.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end %>
      <% else %>
        <p>まだメッセージがありません。</p>
      <% end %>
    <% end %> <!-- End of turbo_frame_tag "messages" -->
  </div>

  <!-- メッセージ入力フォーム -->
  <%= render "messages/main_chat_form", chat_room: @chat_room %>
<% end %> <!-- End of turbo_frame_tag "chat-room-content" -->
