<!-- app/views/devise/sessions/new.html.erb -->
<h2>ログイン</h2>

<%= form_with(model: resource, url: session_path(resource_name), method: :post, local: true) do |f| %>
  <div class="field">
    <%= f.label :username, "ユーザー名" %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<!-- サインインフォームの下に「新規登録」のリンクを追加 -->
<p>
  <%= link_to '新規登録', new_user_registration_path %> <!-- 新規登録ページへのリンク -->
</p>
