<!DOCTYPE html>
<html>
  <head>
    <title>MyChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- flashメッセージの表示部分 -->
    <% if flash[:alert] %>
      <div class="alert alert-danger">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <!-- ヘッダー部分にログイン/ログアウト、新規登録のリンクを表示 -->
    <div class="auth-links">
      <% if user_signed_in? %>
        <div class="logout">
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "nav__btn" %>
        </div>
      <% else %>
        <div class="login">
          <%= link_to 'ログイン', new_user_session_path, class: "nav__btn" %>
        </div>
        <div class="register">
          <%= link_to '新規登録', new_user_registration_path, class: "nav__btn" %>
        </div>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
